.contenedor {
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;}

.ancho-input {
    width: 500px;
}


.fila-flex {
    display: flex;
    gap: 15px;
    align-items: center;
}
.ancho-input-2 {
    flex: 1;
}