.contenedor {
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;}

.ancho-input {
    width: 500px;
}


.fila-flex {
    display: flex;
    gap: 15px;
    align-items: center;
}
.ancho-input-2 {
    flex: 1;
}

.btn-link {
    text-decoration: none;
    color: #1cadab;
    font-weight: 500;
}

.btn-link:hover {
    text-decoration: underline;
    color: rgb(16, 67, 143);
}

